# Klucz z https://resend.com/api-keys (nigdy nie commituj prawdziwego klucza)
RESEND_API_KEY=re_jmfMvoME_BFwh1mESaqYQwinWcariyA1A

# Nadawca: adres na ZWERYFIKOWANEJ domenie w Resend (NIE gmail.com)
# https://resend.com/domains
RESEND_FROM_EMAIL=kontakt@twoja-domena.pl
RESEND_FROM_NAME=VinseqStudio

# Skrzynka odbierająca zgłoszenia z formularza
RESEND_TO_EMAIL=vinseq7@gmail.com
